*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

ul, li, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

:root {
    --color-primary: #66cc33;
    --color-white: #FFF;
    --color-dark: rgba(0, 0, 0, 0.7);
    --height-navbar: 52px;
    --color-light: #6C7293;
    --bg-primary:#191c24;
    --bg-dark: #0f1015;

}

.color-primary {
    color: var(--color-primary);
}

.v-under {
    vertical-align: bottom;
}

.app {
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
}

nav {
    padding: 0 24px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #191c24;
}

.logo {
    color: white;
}

.logo-name {
    font-weight: 600;
    border-bottom: 1px solid var(--color-light);
    position: relative;
    display: inline-block;
    font-size: 20px;
    margin-left: 8px;
    color: var(--color-light);
}
.under-line::after {
    content: "";
    top: 110%;
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: var(--color-light);
}

.side-left{
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    background-color: var(--bg-primary);
    height: calc(100vh - 60px);
}

.side-menu-top {
    display: flex;
    align-items: center;
}

.side-menu-top .side-item {
    margin-bottom: 0;
}

.side-item {
    display: flex;
    align-items: center;
    height: 48px;
    border-left: 2px solid transparent;
    padding-left: 12px;
    padding-right: 8px;
    margin-bottom: 12px;
    transition: 0.3s all linear;
}

.side-item:hover {
    border-left: 2px solid var(--color-primary);
    border-radius: 0 999px 999px 0;
    background-color: var(--bg-dark);
    color: var(--color-primary);
}

.side-item:hover i, .side-item:hover a {
    color: var(--color-primary);
}

.side-item:hover .box-icon {
    background-color: var(--bg-primary);
}

.side-item.active {
    border-left: 2px solid var(--color-primary);
    border-radius: 0 999px 999px 0;
    background-color: var(--bg-dark)
}

.box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-dark);
    padding: 9px;
    border-radius: 50%;
    margin-right: 8px;
}


.side-item.active .box-icon {
    background-color: var(--bg-primary);
}
.side-item i {
    color: var(--color-light);
}

.side-item.active i {
    color: var(--color-primary);
}

.side-item.active{
    color: var(--color-primary);
}


.side-item.active .side-link {
    color: var(--color-primary);
}

.side-link{
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-light);
    text-transform: uppercase;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--color-primary);
}

.canadar {
    border-top: 2px solid var(--bg-dark);
    padding-top: 24px;
    padding-bottom: 12px;
    margin-top: auto;
}

.canadar .time {
    color: var(--color-light);
    font-size: 32px;
    font-weight: 600;
}

.canadar .date {
    text-align: right;
    font-size: 12px;
    color: var(--color-light);
    text-transform: capitalize;
}


/* side content */

.side-content {
    background-color: var(--bg-dark);
    height: calc(100vh - 60px);
    overflow: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg-dark); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--bg-primary); 
    border-radius: 9999px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary); 
    cursor: pointer;
  }

.total-item {
    padding: 12px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--bg-primary);
    color: var(--color-light);
}



.total-item i {
    color: var(--color-primary);
}


.total-detail {
    display: flex;
    flex-direction: column;
}

.total-detail .title, .total-detail .total {
    text-align: center;
}

.total-detail .total {
    font-size: 20px;
    font-weight: 600;
}

.chart {
    background-color: var(--bg-primary);
    height: 500px;
    display: flex;
    align-items: center;
    padding: 12px;
}



.top-dl {
    background-color: var(--bg-primary);
}

.todos {
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}

.todos::-webkit-scrollbar-track {
    background: transparent; 
}

.todo-heading {
    color: var(--color-light);
    margin: 12px 0;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
}

.todo-add  {
    margin-bottom: 24px;
    position: relative;
}

.todo-text {
    background-color: var(--bg-dark);
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    outline: none;
    color: var(--color-light);
    border-radius: 999px;
}


.todo-btn-add {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    padding: 5px 12px;
    border-radius: 50%;
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);

}

.todo-btn-add:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}


.todo-list {
    margin-top: 12px;
}



.todo-item {
    margin-bottom: 24px;
    padding: 8px;
    border-radius: 999px;
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--bg-dark);
    transition: all 0.3s linear;
    cursor: pointer;
    position: relative;
}



.todo-time {
    position: absolute;
    left: 10%;
    top: -12px;
    display: block;
    color: var(--color-primary);
    font-size: 10px;
}

.todo-item.checked .todo-time {
    color: red;
}

.todo-item:hover {
    opacity: 0.4;
}

.todo-btn-action {
    color: var(--color-primary);
    background-color: transparent;
    border: none;
    margin-right: 8px;

}

.todo-content {
    color: var(--color-light);
    padding-left: 12px;
}

.todo-item.checked .todo-content{
    text-decoration: line-through;
}

.todo-item.checked .todo-btn-action {
    color: red;
}
.box-message-new {
    border-top: 2px solid var(--bg-dark);
    padding: 12px 0;
}
.message-new {
    display: flex;
    align-items: center;
    padding: 8px 0;
    padding-left: 8px;
    border-left: 2px solid transparent;
    border-radius: 0 999px 999px 0;
    transition: all 0.3s linear;
    cursor: pointer;

}

.message-new:hover {
    background-color: var(--bg-dark);

    color: var(--color-primary);
    border-left: 2px solid var(--color-primary);
}

.message-new:hover .message-title {
    background-color: var(--bg-primary);
    color: var(--color-primary);
}

.message-title {
    width: 35px;
    height: 35px;
    background-color: var(--bg-dark);
    border-radius: 50%;
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.message-content {
    width: 70%;
    color: var(--color-white);
    font-size: 12px;
    margin-left: 8px;
}


